@font-face {
    font-family: "Mi-Sans";
    src: url("MiSans-Normal.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mi-Sans";
}

:root{
    --border: 1px solid black;
}

nav{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-block: 1rem;
}

nav > a{
    display: inline-block;
    color: black;
    text-decoration: none;
    border: var(--border);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 255, 0.3);
}


[class*="hero"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    padding-inline: 3rem;
    padding-block: 2rem;
}

[class*="hero"] img{
    width: 60vw;
}

@media (max-width: 750px) {
    nav{
    gap: 3rem;
    }

    [class*="hero"] img{
    height: 40vh;
    }

}

@media (min-width: 751px) and (max-width: 1024px) {
    p{
        font-size: 1.5rem;
    }

}

@media (min-width: 1025px) {
  /* styles for laptops and up */
}