@font-face {
    font-family: "Mi-Sans";
    src: url("MiSans-Normal.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mi-Sans";
}

nav{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

nav > a{
    display: inline-block;
    color: black;
    text-decoration: none;
}